<!doctype html>
<html>
<head>
    <title>Moxtra Demo Application</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><img src="images/moxtra_logo.png" alt="moxtra logo" width=140 height=80 > Moxtra Demo Application</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/moxtra" class="btn btn-default"><span></span> Moxtra Login</a>
    </div>

</div>
</body>
</html>
