<!doctype html>
<html>
<head>
    <title>Moxtra Demo Web Application</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>

<body ng-app="firstMoxtraDemo" ng-controller="MainCtrl">

<div id="content">
    <div class="text-center">
        <h1><span class="fa fa-user"></span> Course Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <ui-view class="container"></ui-view>

    <script type="text/ng-template" id="/home.html">
        <ul id="tabs" class="nav nav-tabs nav-justified" data-tabs="tabs">
            <li class="active"><a href="#allcourses" data-toggle="tab">All Courses</a></li>
            <li><a href="#yourcourses" data-toggle="tab">Your Courses</a></li>
        </ul>

        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="allcourses">
                <div class="container">
                    <form ng-submit="addCourse()">
                        <h4>Submit a New Course</h4>
                        <fieldset class="form-group">
                            <textarea class="form-control" placeholder="Enter the name of the course." ng-model="title" title="Course Title"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea class="form-control" placeholder="Enter the course description." ng-model="description" title="Course Description"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea class="form-control" placeholder="Enter the name of the professor of this course." ng-model="professor" title="Professor"></textarea>
                        </fieldset>
                        <button type="submit" class="btn btn-primary">Submit Course</button>
                    </form>
                </div>

                <div class="container">
                    <h4>Course List</h4>
                    <ul>
                        <li ng-repeat="course in courses | orderBy: '-enrolled'">
                            <blockquote>
                                <strong>Course Title: </strong>{{course.title}}<br>
                                <strong>Course Description: </strong>{{course.description}}<br>
                                <strong>Professor: </strong>{{course.professor}}<br>
                                <strong>Enrolled: </strong>{{course.enrolled}}
                            </blockquote>
                            <button class="form-group" ng-click="incrementEnrolled(course)">Enroll</button>
                        </li>
                    </ul>
                </div>
            </div>  

            <div class="tab-pane" id="yourcourses" ng-controller="UserCtrl">
                <div class="container">
                    <h4>Your Enrolled Courses</h4>
                    <ul>
                        <li ng-repeat="course in userCourses">
                            <blockquote>
                                <strong>Course Title: </strong>{{course.title}}<br>
                                <strong>Course Description: </strong>{{course.description}}<br>
                                <strong>Professor: </strong>{{course.professor}}
                            </blockquote>
                            <button class="form-group" ng-click="join(course)">Join Course</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </script>

</div>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/bootstrap/js/tab.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/controllers/main.js"></script>
    <script src="javascripts/controllers/user.js"></script>
    <script src="javascripts/services/courses.js"></script>
    <script src="javascripts/services/userCourses.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $('#tabs').tab();
        });
    </script>

</body>

</html>
